body {
	background: var(--background-color) !important;
	color: var(--main-color) !important;
}

nav {
	background: var(--topbar-background) !important;
	color: var(--topbar-color) !important;
}

.list-group-item {
	background: var(--item-background) !important;
}

.card {
	background: var(--bar-background) !important;
	color: var(--main-color) !important;
}

.card-header {
	background: var(--item-background) !important;
}

.btn-success {
	background: var(--default-green) !important;
}

.btn-success:hover {
	background: var(--active-green) !important;
}

.point-success {
	background: var(--light-green);
}

.point-danger {
	background: var(--light-red);
}

.form-control {
	background: var(--reverse-background) !important;
	color: var(--main-color) !important;
}

.alert-danger {
	background: var(--red-background) !important;
	color: var(--main-color) !important;
}

.breadcrumb {
	background: var(--item-background) !important;
	color: var(--main-color) !important;
}

.alert-primary {
	background: var(--item-background) !important;
	color: var(--main-color) !important;
}