:root {
	--background-color: white;
	--topbar-background: #24292e;
	--topbar-color: white;
	--bar-background: #f6f8fa;
	--bar-color: black;
	--item-background: #e8eaec;
	--reverse-background: #f1f1f1;
	--high-reverse-background: #c1c1c1;
	--main-color: black;
	--reverse-color: white;
	--default-green: #238636;
	--active-green: #2ea043;
	--light-green: #56d364;
	--green-background: #132e1f;
	--default-blue: #58a6ff;
	--blue-background: #121d2f;
	--red-background: #36191c;
	--default-red: #da3633;
	--light-red: #f85149;
}